# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs (VS Code, IntelliJ, Android Studio)
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Flutter Desktop (Linux / C++)
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/
/macos/Flutter/ephemeral/
*.cmake
CMakeCache.txt
CMakeFiles/

# Rust / Cargo
/rust/target/
/rust/Cargo.lock
**/target/
**/*.rs.bk

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android / iOS build artifacts
/android/app/debug
/android/app/profile
/android/app/release